# Retail Chain Sales Exploratory Data Analysis

![Assorted Drinks](./assets/images/kenny-eliason-SvhXD3kPSTY-unsplash.jpg)

Photo by <a href="https://unsplash.com/@neonbrand?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Kenny Eliason</a> on <a href="https://unsplash.com/photos/SvhXD3kPSTY?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>

## 1. Business Understanding

We are embarking on an Exploratory Data Analysis (EDA) journey with a rich supermarket dataset, and our collective focus lies in formulating a comprehensive problem statement. Firstly, we aim to unravel the intricate patterns within sales data, aiming to discern the key factors influencing them. Our group endeavors to identify the top-selling product categories, investigate seasonal variations, and scrutinize the potential correlations between Payment Method and sales performance. Moreover, we're eager to understand if specific days of the week or particular times of day witness increased foot traffic and/or higher sales, as this can greatly inform our decisions regarding staffing and inventory management.

Additionally, we are committed to delving into the intricacies of customer segmentation and behavior analysis. Our objective is to uncover who our most frequent customers are, along with their demographic profiles and preferred product choices. We are also excited to unearth any discernible purchasing patterns among our customers. Such insights will be pivotal in designing targeted marketing strategies and optimizing product placement strategies throughout the store.

Lastly, we are intrigued by the geographical and demographic factors that influence our store's performance. Our collective efforts will focus on analyzing the supermarket's location in relation to residential areas, competitors, and transportation hubs. We are also keen on understanding the income levels and preferences of the local population, as this information will enable us to tailor our product offerings and marketing campaigns to maximize sales and profitability.

In summary, our group is committed to conducting an EDA on this supermarket dataset with the ultimate goal of providing actionable insights. By addressing these various aspects in our analysis, we aim to improve the supermarket's operations, enhance customer satisfaction, and ultimately drive the growth of our business.

## 2. Data Understanding

The dataset is contained in a CSV(comma separated Values) file, and is stored in the data/ folder in the current folder.
It is one of the historical sales of supermarket company which has recorded in 3 different branches for 3 months data.
Our dataset contains 1000 rows and 17 columns giving details about each datapoint.
Data Dictionary

* **Invoice id:** Computer generated sales slip invoice identification number
* **Branch:** Branch of supercenter (3 branches are available identified by A, B and C).
* **City:** Location of supercenters
* **Customer type:** Type of customers, recorded by Members for customers using member card and Normal for without member card.
* **Gender:** Gender type of customer
* **Product line:** General item categorization groups - Electronic accessories, Fashion accessories, Food and beverages, Health and beauty, Home and lifestyle, Sports and travel
* **Unit price:** Price of each product in USD
* **Quantity:** Number of products purchased by customer
* **Tax:** 5% tax fee for customer buying
* **Total:** Total price including tax
* **Date:** Date of purchase (Record available from January 2019 to March 2019)
* **Time:** Purchase time (10am to 9pm)
* **Payment:** Payment used by customer for purchase (3 methods are available â€“ Cash, Credit card and Ewallet)
* **COGS:** Cost of goods sold
* **Gross margin percentage:** Gross margin percentage
* **Gross income:** Gross income
* **Rating:** Customer stratification rating on their overall shopping experience (On a scale of 1 to 10)

## 3. Data Cleaning

In [1]:
# imports
import pandas as pd
import numpy as np

In [2]:
# loading data
df = pd.read_csv('./data/supermarket_sales.csv')
pd.set_option('display.max_columns', None)
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [3]:
# Get a high level overview of our dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

From our overview, we can see that our date and time columns are of the object datatype. We'll change this to Date datatype to enable Time series analysis on the dataset, and save the result in a new datetime column.

We will also change the name of Payment Column to Payment_Method to reflect the right data contained in the column.
We'll also replace all the spaces in column name with underscores

In [4]:
# Combine 'date' and 'time' into a single datetime column
df['Datetimestamp'] = pd.to_datetime(df['Date'] + ' ' + df['Time'])

In [8]:
# Rename 'Payment' to 'Payment_Method'
df.rename(columns={'Payment': 'Payment_Method'}, inplace=True)

In [10]:
# Replace spaces with underscores in column names
df.columns = [col.replace(' ', '_') for col in df.columns]

In [11]:
# Check our new data set
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice_ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer_type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product_line             1000 non-null   object
 6   Unit_price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax_5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment_Method           1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross_margin_percentage  1000 non-null   float64
 15  gross_income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
 17  Datetimestamp            1000 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(7), int64(1), object(9)
memory usage: 140.8+ KB

We will then check for a high level statistical data description of the dataset

In [12]:
# check for data statistical values
df.describe()

,Unit_price,Quantity,Tax_5%,Total,cogs,gross_margin_percentage,gross_income,Rating
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1.000000e+03,1000.000000,1000.00000
mean,55.672130,5.510000,15.379369,322.966749,307.58738,4.761905e+00,15.379369,6.97270
std,26.494628,2.923431,11.708825,245.885335,234.17651,6.131498e-14,11.708825,1.71858
min,10.080000,1.000000,0.508500,10.678500,10.17000,4.761905e+00,0.508500,4.00000
25%,32.875000,3.000000,5.924875,124.422375,118.49750,4.761905e+00,5.924875,5.50000
50%,55.230000,5.000000,12.088000,253.848000,241.76000,4.761905e+00,12.088000,7.00000
75%,77.935000,8.000000,22.445250,471.350250,448.90500,4.761905e+00,22.445250,8.50000
max,99.960000,10.000000,49.650000,1042.650000,993.00000,4.761905e+00,49.650000,10.00000

In [ ]:
#column names

In [ ]:
#Missing Values

In [ ]:
#Data Format

In [ ]:
#Checking Duplicates

# EDA
What is the overall sales trend over the three-month period?
Plot the total sales over time to visualize any trends or seasonality.

Which branch has the highest and lowest sales?
Calculate and compare the total sales for each branch.

What is the distribution of product categories in terms of sales?
Explore the sales distribution across different product lines.

Is there a significant difference in sales between members and non-members?
Analyze the total sales and average sales per customer type.

How does gender impact purchasing behavior?
Investigate whether there are gender-based differences in product preferences or spending.
How gender affects the payment method,total amount spend, and which gender makes the biggest customer base. 

What are the most and least popular payment methods?
Determine the frequency of each payment method used by customers.

Are there any noticeable patterns in customer ratings?
Analyze the distribution of customer ratings and look for trends over time.

Do certain product categories have higher profit margins?
Calculate and compare the gross margin percentages for different product lines.

Is there a correlation between the time of day and sales volume?
Investigate whether sales vary significantly during different times of the day.

How do sales vary on different days of the week?
Analyze whether there are specific days that consistently have higher or lower sales.

Are there any outliers in the data, such as unusually high or low sales transactions?
Identify and investigate any outliers in sales or other numerical columns.

Is there a relationship between customer ratings and total spending?
Examine whether customers who spend more tend to give higher ratings.

What is the average gross income for each branch?
Calculate and compare the average gross income generated by each branch.

In [ ]:
#imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

What is the overall sales trend over the three-month period?
Plot the total sales over time to visualize any trends or seasonality.

Which branch has the highest and lowest sales?
Calculate and compare the total sales for each branch.

What is the distribution of product categories in terms of sales?
Explore the sales distribution across different product lines.

Is there a significant difference in sales between members and non-members?
Analyze the total sales and average sales per customer type.

How does gender impact purchasing behavior?
Investigate whether there are gender-based differences in product preferences or spending.
How gender affects the payment method,total amount spend, and which gender makes the biggest customer base.

What are the most and least popular payment methods?
Determine the frequency of each payment method used by customers.

Are there any noticeable patterns in customer ratings?
Analyze the distribution of customer ratings and look for trends over time.

Do certain product categories have higher profit margins?
Calculate and compare the gross margin percentages for different product lines.

Is there a correlation between the time of day and sales volume?
Investigate whether sales vary significantly during different times of the day.

How do sales vary on different days of the week?
Analyze whether there are specific days that consistently have higher or lower sales.

Are there any outliers in the data, such as unusually high or low sales transactions?
Identify and investigate any outliers in sales or other numerical columns.

Is there a relationship between customer ratings and total spending?
Examine whether customers who spend more tend to give higher ratings.

What is the average gross income for each branch?
Calculate and compare the average gross income generated by each branch.

Feedback

Conclusion